
<div id="aside" class="app-aside modal fade nav-dropdown">
    <div class="left navside dark dk" layout="column">
        <div class="navbar no-radius primary">
            <a class="navbar-brand">
                <span class="hidden-folded inline"><i class="ion-android-settings"></i> easyflow</span>
            </a>
        </div>
        <div flex class="hide-scroll" data-ui-template="backend-menu.html" data-remote="true"></div>
        <div class="b-t" flex-no-shrink></div>
    </div>
</div>

<div id="content" class="app-content box-shadow-z0" role="main">
    <div class="app-header white box-shadow">
        <div class="navbar">
            <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
                <i class="ion-navicon-round"></i>
            </a>
            <ul data-breadcrumbs class="nav navbar-nav pull-left">
                <li class="nav-item nav-breadcrumb">
                    <a href="javascript:;" class="nav-link clear text-md text-muted">
                        <i class="ion-home"></i>
                    </a>
                </li>
                <li data-ng-repeat="breadcrumb in breadcrumbs" class="nav-item nav-breadcrumb">
                    <a data-ui-sref="{{ breadcrumb.stateName }}" class="nav-link clear" data-ng-class="breadcrumb.class">
                        {{ breadcrumb.text }}
                    </a>
                </li>
            </ul>
            <ul data-ng-if="user" class="nav navbar-nav pull-right">
                <li class="nav-item pos-stc-xs">
                    <a class="nav-link">
                        {{ user.fullname }}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link clear" href data-toggle="dropdown">
                        <span class="avatar w-32">
                            <img data-ng-src="{{ user.avatar | thumbnail:'/user/':32:32 }}" alt="...">
                            <i class="on b-white bottom"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu pull-right dropdown-menu-scale">
                        <a class="dropdown-item" ui-sref="app.page.profile">
                            <span>Sunting Profil</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ui-sref="app.inbox.list">
                            <span>Kunci Layar</span>
                            <span class="label warn m-l-xs">3</span>
                        </a>
                        <a class="dropdown-item" ui-sref="app.docs">Dokumentasi</a>
                        <a data-ng-click="logout()" href="javascript:;" class="dropdown-item">Keluar</a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <div data-ui-view class="app-body" id="view"></div>
</div>