<div class="p-a-lg">
    
    <div class="row">
        <div class="col-md-8 col-sm-12">

            <div>
                <div class="panel panel-default no-shadow" ng-repeat="item in feeds track by item.id">
                    
                    <div class="panel-body">
                        
                        <div class="row">
                            <div class="col-md-2">
                            
                                <div>
                                    <img data-ng-src="{{ item.cover | thumbnail:'diagrams':120:120 }}" class="img-thumbnail" style="width: 100%;">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <a data-ui-sref="account.diagram.view({email:item.user_email, slug:item.slug})" class="_600">{{ item.name }}</a>
                                <p class="text-sm m-b-none">Dibuat oleh <a href="">{{ item.user_fullname }}</a></p>
                                <p class="text-sm">( {{ item.created_date | fromnow }} )</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-sm">{{ item.short_description || 'Tidak ada deskripsi' }}</p>
                            </div>
                            <div class="col-md-2 text-right">
                                <a data-ng-click="bookmark(item)" data-ng-class="item.bookmarked ? 'btn btn-circle btn-primary' : 'btn btn-circle'" >
                                    <i class="ion-heart"></i>
                                    <small>Bookmark</small> 
                                    <b class="badge bg-white">{{ item.bookmarks }}</b>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="m-t" data-ng-show="feeds.length">
                <div class="text-center">
                    <div data-ui-pagination data-template="pagination.html" data-store="feedStore" data-display="10"></div>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel no-shadow">
                <div class="panel-heading">
                    Notifikasi
                </div>
                <div class="panel-body">
                    Anda tidak memiliki notifikasi baru
                </div>
            </div>
        </div>
    </div>

</div>

