<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
        <div class="pull-center"></div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <div class="m-b">
            Pembaharuan Sandi
            <p class="text-xs m-t">
                Tulis sandi baru Anda pada form di bawah ini. Gunakan kombinasi huruf yang unik minimal <span class="_700">8 karakter</span>.
            </p>
        </div>
        <form name="form" data-ng-submit="recoverPassword()" novalidate>
            <div class="md-form-group">
                <input data-ng-model="passwd1" data-ng-minlength="8" name="_passwd1" class="md-input" type="password" required>
                <label>Sandi baru</label>
            </div>
            <div class="md-form-group" data-ng-class="{ 'has-danger' : form._passwd2.$invalid && !form._passwd2.$pristine }">
                <input data-ng-model="passwd2" data-ng-minlength="8" name="_passwd2" data-ui-match="form._passwd1" class="md-input" type="password" required>
                <label>Konfirmasi sandi baru</label>
                <span data-ng-show="form._passwd2.$error.match && !form._passwd2.$pristine" class="text-xs text-danger">Sandi tidak cocok</span>
            </div>
            <button data-ng-disabled="form.$invalid" type="submit" class="btn primary btn-block p-x-md">Kirim</button>
        </form>
    </div>
    <p id="alerts-container"></p>
    <div class="p-v-lg text-center">Kembali ke <a data-ui-sref="login" class="text-primary _600">halaman login</a></div>    
</div>