<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteCond %{REQUEST_URI} !(/$|\.) 
    RewriteRule (.*) %{REQUEST_URI}/ [L,R=301]
    
    RewriteRule ^(admin\/|\/)?(apps|assets)(.*) public/$2$3 [L]

    RewriteCond $1 ^admin
    RewriteRule ^(.*)$ public/backend.html [L]

    RewriteCond $1 !^(public)
    RewriteRule ^(.*)$ public/frontend.html [L]
</IfModule>