<div>
    <section class="comment-list block" style="padding: 0;">
        <article data-ng-repeat="item in comments track by item.id" class="comment-item media">
            <a href="" class="pull-left thumb-small">
                <img alt="." data-ng-src="{{ item.user_avatar | thumbnail:'users':56:56 }}">
            </a>
            <section class="media-body panel"  style="padding: 0;">
                <div class="panel-heading bg-white clearfix" style="border-bottom: none;"> 
                    <a data-ui-sref="account.home({email: item.user_email})">{{ item.user_fullname }}</a> 
                    <span class="text-muted m-l-small pull-right">{{ item.post_date | fromnow }} </span> 
                </div>
                <div class="panel-body">
                    <div data-ui-markdown="item.message" data-ng-if="!item.editing"></div>

                    <div class="m-t m-b" data-ng-if="item.editable && item.editing">
                        <div class="form-group">
                            <textarea data-ng-model="item.message" class="form-control" required></textarea>
                        </div>
                        <button data-ng-click="updateComment(item)" class="btn btn-primary">Simpan perubahan</button>
                        <a data-ng-click="toggleCommentEditor(item)"  href="javascript:;" class="btn btn-link">Tutup editor</a>
                    </div>

                    <div data-ng-if="!item.editing" class="comment-action m-t-small text-right"> 
                        <a class="btn btn-white" data-ng-if="item.editable" data-ng-click="toggleCommentEditor(item)"> 
                            <i class="ion-ios-compose-outline"></i> Sunting 
                        </a> 
                        <a class="btn btn-white" data-ng-if="item.removable" data-ng-click="deleteComment(item)"> 
                            <i class="ion-ios-trash-outline"></i> Remove 
                        </a> 
                    </div>
                </div>
            </section>
        </article>
    </section>
    
    <form id="form-comment" name="formComment" data-ng-submit="addComment()" novalidate>
        <div class="form-group">
            <textarea data-ng-model="comment.message" data-ng-minlength="1" rows="3" class="form-control" required></textarea>
        </div>
        <button data-ng-disabled="formComment.$invalid" type="submit" class="btn btn-primary">Kirim Komentar</button>
    </form>
</div>