<div>
    <ul class="list-group m-t">
        <li data-ng-repeat="item in comments track by item.id" class="list-group-item" style="padding-left: 0; padding-right: 0;">
            <div class="row-picture" style="float: left; margin-top: 15px;">
                <img class="circle" data-ng-src="{{ item.user_avatar | thumbnail:'/user/':56:56 }}" alt="icon">
            </div>
            <div style="position: absolute; top: 0; right: 0;">
                <a data-ng-if="item.editable" data-ng-click="deleteComment(item)" href="javascript:;" class="_300 m-r">hapus</a> 
                <a data-ng-if="item.removable" data-ng-click="toggleCommentEditor(item)" href="javascript:;" class="_300">sunting</a>
            </div>
            <div class="row-content">
                <h4 class="m-b-0"><a data-ui-sref="user.view({email: item.user_email})">{{ item.user_fullname }}</a></h4>
                <span class="text-muted _300">{{ item.post_date | dateformat:'dd MMMM yyyy HH:mm' }}</span>

                <div data-ui-markdown="item.message" data-ng-if="!item.editing" style="font-size: 18px;" class="_400 list-group-item-heading m-t"></div>
                
                <div class="m-t" data-ng-if="item.editable && item.editing" style="padding: 15px; background-color: #f5f5f5;">
                    <div class="form-group">
                        <textarea data-ng-model="item.message" class="form-control" required></textarea>
                    </div>
                    <button data-ng-click="updateComment(item)" class="btn btn-sm btn-raised btn-primary">Simpan perubahan</button>
                </div>
                
                
            </div>
            <div data-ng-if="$index < comments.length - 1" style="clear: both; min-height: 1px; margin: 15px 0; border-top: solid 1px #dfdfdf;"></div>
        </li>
    </ul>

    <form name="formComment" data-ng-submit="addComment()" novalidate>
        <div data-ng-if="user.id" style="border: solid 1px #dfdfdf;">
            <div class="form-group" style="padding: 10px;">
                <textarea data-ng-model="comment.message" data-ng-minlength="1" rows="3" class="form-control" required></textarea>
            </div>    
            <div style="background-color: #f4f4f4; padding: 0 15px;">
                <div class="text-right">
                    <button data-ng-disabled="formComment.$invalid" type="submit" class="btn btn-raised btn-primary">Kirim Komentar</button>
                </div>
            </div>
        </div>
    </form>
</div>