<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <h3>Dukungan Teknis</h3>
                <p>{{ site.author }}
                <br>{{ site.author_email }}</p>
            </div>
            <div class="footer-col col-md-4">
                <h3>Media Sosial</h3>
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn-sosmed btn-outline"><i class="ion-social-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-sosmed btn-outline"><i class="ion-social-googleplus"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-sosmed btn-outline"><i class="ion-social-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-sosmed btn-outline"><i class="ion-social-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="{{ site.github_page }}" target="_blank" class="btn-sosmed btn-outline"><i class="ion-social-github"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-col col-md-4">
                <h3>Platform Terbuka</h3>
                <p>Easyflow adalah aplikasi <i>open source</i> yang dibangun dengan library  <a target="blank" href="https://github.com/londomloto/graph">Graph SVG</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; Easyflow 2016
            </div>
        </div>
    </div>
</div>