<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar">
            <span class="sr-only">Toggle navigation</span> Menu <i class="ion-android-more-vertical"></i>
        </button>
        <a class="navbar-brand" href="javascript:;">
            <span class="icon"><i class="ion-shuffle"></i></span> 
            <span class="text">easyflow</span>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="app-navbar">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ui-sref="home"><i class="ion-android-arrow-back"></i> Kembali ke beranda</a>
            </li>
        </ul>
    </div>
</div>

<!-- GLOBAL DIALOG -->
<div data-ui-template="dialog-alert.html"></div>
<div data-ui-template="dialog-info.html"></div>
<div data-ui-template="dialog-error.html"></div>
<div data-ui-template="dialog-confirm.html"></div>
<!-- END OF GLOBAL DIALOG -->