<div class="padding">
    
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2>Hak Akses</h2>
                    <small>Hak akses yang diberikan kepada user</small>
                </div>
                <div class="row p-a">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3 text-right">
                        <a data-ui-sref="main.access.add" class="btn btn-sm btn-fw primary"><i class="ion-plus"></i> Tambah</a>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>NO.</th>
                            <th>KODE</th>
                            <th>NAMA</th>
                            <th>DEFAULT</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in roleData">
                            <td>{{ roleStore.getStart() + $index + 1 }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.is_default | boolean }}</td>
                            <td class="text-right">
                                <a data-ng-if="item.removable" data-ng-click="deleteRole(item)" href="javascript:;" class="btn btn-xs text-danger">Hapus</a>
                                <a data-ui-sref="main.access.edit({ id: item.id })" class="btn btn-xs white">Sunting</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="dker p-a">
                    <div class="row">
                        <div class="col-sm-6">
                            Menampilkan {{ roleStore.getCount() }} dari {{ roleStore.getTotal() }}
                        </div>
                        <div class="col-sm-6 text-right">
                            <div data-ui-pagination data-template="pagination.html" data-display="5" data-store="roleStore"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header b-b">
                    <h2>Permisi yang tersedia</h2>
                    <small>Berikut adalah referensi permisi yang tersedia oleh aplikasi</small>
                </div>
                <ul class="list-group no-radius no-border" style="max-height: 460px; overflow: auto; overflow-x: hidden;">
                    <li data-ng-repeat="item in permissions" class="list-group-item">
                        <p class="m-b-0">{{item.label}} (<span class="_600 text-danger">{{item.name}}</span>)</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>