<div class="padding">
    
    <div class="row">
        <div class="col-sm-6">
            <h4 class="m-a-0 m-b-sm text-md">Hak Akses</h4>
            <hr>
            <form name="form" data-ng-submit="saveRole()" novalidate>
                <div class="form-group" data-ng-class="{ 'has-danger' : form.name.$invalid && !form.name.$pristine }">
                    <label>Kode Akses</label>
                    <input data-ng-model="add.name" name="name" type="text" class="form-control" required>
                </div>
                <div class="form-group" data-ng-class="{ 'has-danger' : form.title.$invalid && !form.title.$pristine }">
                    <label>Nama Akses</label>
                    <input data-ng-model="add.title" name="title" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Keterangan</label>
                    <textarea data-ng-model="add.description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label class="md-check">
                        <input data-ng-model="add.is_default" data-ng-true-value="1" data-ng-false-value="0" type="checkbox">
                        <i class="blue"></i> Setting sebagai default
                    </label>
                </div>
                <button data-ng-disabled="form.$invalid" type="submit" class="btn btn-info m-t">Simpan Perubahan</button>
            </form>
        </div>
    </div>

</div>