<nav class="scroll nav-light">
    <ul class="nav">
        <li class="nav-header hidden-folded"><small class="text-muted">BERANDA</small></li>
        <li>
            <a data-ui-sref="main.dashboard">
                <span class="nav-icon"><i class="ion-stats-bars"></i></span>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li>
            <a data-ui-sref="main.mail.inbox">
                <span class="nav-icon"><i class="ion-android-mail"></i></span>
                <span class="nav-text">Perpesanan</span>
            </a>
        </li>
        {% if can('access_app') %}
        <li class="nav-header hidden-folded"><small class="text-muted">PENGATURAN</small></li>
        {% endif %}
        {% if can('access_app') %}
        <li>
            <a data-ui-sref="main.setting">
                <span class="nav-icon"><i class="ion-cube"></i></span>
                <span class="nav-text">Aplikasi</span>
            </a>
        </li>
        {% endif %}
        {% if can('access_access & access_user') %}
        <li class="nav-header hidden-folded"><small class="text-muted">ADMIN &amp; PENGGUNA</small></li>
        {% endif %}
        {% if can('access_access') %}
        <li>
            <a data-ui-sref="main.access">
                <span class="nav-icon"><i class="ion-locked"></i></span>
                <span class="nav-text">Hak Akses</span>
            </a>
        </li>
        {% endif %}
        {% if can('access_user') %}
        <li data-ui-sref-active="active">
            <a data-ui-sref="main.user">
                <span class="nav-icon"><i class="ion-android-contact"></i></span>
                <span class="nav-text">Pengguna</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-header hidden-folded"><small class="text-muted">DIAGRAM</small></li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="main.diagram">
                <span class="nav-icon"><i class="ion-erlenmeyer-flask"></i></span>
                <span class="nav-text">Data Diagram</span>
            </a>
        </li>
        <li class="nav-header hidden-folded"><small class="text-muted">HALAMAN (BLOG)</small></li>
        <li>
            <a data-ui-sref="main.tutorial" >
                <span class="nav-icon"><i class="ion-easel"></i></span>
                <span class="nav-text">Tutorial</span>
            </a>
        </li>
    </ul>
</nav>