{% set readonly = can('update_user') ? '' : 'readonly' %}
<div class="col-sm-3 col-lg-2">
    {% verbatim %}
    <div data-ui-lightbox=".profile-photo">
        <a class="profile-photo" data-ng-href="{{ photo.data }}">
            <img data-ui-image="photo.file" class="img-responsive" data-ng-src="{{ edit.avatar | thumbnail:'users':200:200 }}">    
        </a>
    </div>    
    {% endverbatim %}

    {% if can('update_user') %}
        {% verbatim %}
        <div class="m-t text-center">
            <div class="form-file">
                <input data-ui-file="photo.file" data-on-select="onSelectPhoto" type="file">
                <button class="btn white">Unggah Foto</button>
                <p class="p-a">{{ photo.name }}</p>
            </div>
        </div>
        {% endverbatim %}
    {% endif %}
</div>

<div class="col-sm-9 col-lg-10">
    <div class="row-col light lt">
        <form name="form" data-ng-submit="saveUser(form)" class="p-a-md col-md-6" novalidate>
            <h4 class="m-a-0 m-b-sm text-md">Profile Pengguna</h4>
            <hr>
            <div class="form-group">
                <label>Hak Akses</label>

                {% if can('update_user') %}
                    {% verbatim %}
                    <select data-ng-model="edit.role" name="role" class="form-control" required>
                        <option data-ng-repeat="role in roles" value="{{ role.name }}">{{ role.title }}</option>
                    </select>
                    {% endverbatim %}
                {% else %}
                    <input type="text" data-ng-model="edit.role" name="role" class="form-control" required {{ readonly }}>
                {% endif %}
                
            </div>
            <div class="form-group" data-ng-class="{ 'has-danger' : form.fullname.$invalid && !form.fullname.$pristine }">
                <label>Nama Lengkap</label>
                <input data-ng-model="edit.fullname" name="fullname" type="text" class="form-control" required {{ readonly }}>
            </div>
            <div class="form-group">
                <label>Jenis Kelamin</label>
                <select class="form-control" data-ng-model="edit.sex">
                    <option value="pria">Pria</option>
                    <option value="wanita">Wanita</option>
                </select>
            </div>
            <div class="form-group">
                <label>Pekerjaan</label>
                <input data-ng-model="edit.job_title" type="text" class="form-control" {{ readonly }}>
            </div>
            <div class="form-group">
                <label>Keterangan</label>
                <textarea style="resize: none;" data-ng-model="edit.bio" class="form-control" {{ readonly }}></textarea>
            </div>
            <div class="clearfix m-b"></div>
            <h4 class="m-a-0 m-b-sm text-md">Akun Pengguna</h4>
            <hr>
            <div class="form-group" data-ng-class="{ 'has-danger' : form.email.$invalid && !form.email.$pristine }">
                <label>Alamat Email</label>
                <input data-ng-model="edit.email" name="email" type="email" class="form-control" required {{ readonly }}>
            </div>
            <div class="form-group">
                <label>Kata Sandi (minimal 8 karakter)</label>
                <input name="passwd1" data-ng-model="edit.passwd1" data-ng-minlength="8" type="password" class="form-control" {{ readonly }}>
            </div>
            <div class="form-group" data-ng-class="{ 'has-danger' : form.passwd2.$invalid && !form.passwd2.$pristine }">
                <label>Konfirmasi kata Sandi</label>
                <input name="passwd2" data-ng-model="edit.passwd2" data-ng-minlength="8" data-ui-match="form.passwd1" type="password" class="form-control" {{ readonly }}>
                <span class="text-xs text-danger" data-ng-show="form.passwd2.$error.match">Kata sandi tidak cocok</span>
            </div>
            <div class="form-group">
                <label class="md-check">
                    <input data-ng-model="edit.active" data-ng-true-value="1" data-ng-false-value="0" type="checkbox">
                    <i class="blue"></i> Pengguna aktif (tidak diblokir)
                </label>
            </div>
            {% if can('update_user') %}
            <button data-ng-disabled="form.$invalid" type="submit" class="btn btn-info m-t">Simpan Perubahan</button>
            {% endif %}
        </form>   
        {% verbatim %} 
        <div class="p-a-md col-md-6">
            <h4 class="m-a-0 m-b-sm text-md">Info Pengguna</h4>
            <hr>
            <div class="form-group">
                <label>Tanggal Daftar</label>
                <p class="form-control-static text-md">{{ edit.register_date | dateformat:'dd MMM yyyy HH:mm' }}</p>
            </div>
            <div class="form-group">
                <label>Terakhir Login</label>
                <p class="form-control-static text-md">{{ edit.last_login | dateformat:'dd MMM yyyy HH:mm' }}</p>
            </div>
            <div class="form-group">
                <label>Alamat Mesin</label>
                <p class="form-control-static text-md">{{ edit.last_ip }}</p>
            </div>
            <div class="clearfix m-b"></div>
            <h4 class="m-a-0 m-b-sm text-md">Penghapusan</h4>
            <hr>
            <a href="javascript:;" data-ng-click="deleteUser()" class="btn btn-danger">Hapus Pengguna</a>
        </div>
        {% endverbatim %} 
    </div>    
</div>

