<table width="100%" bgcolor="#F3F5F7" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" style="font-family: Helvetica, Arial, sans-serif; color: #B8BFC5; padding: 15px; font-size: 17px;">
            <p style="font-weight: bold; margin: 0">{{ site.name }}</p>
        </td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td style="font-family: Helvetica, Arial, sans-serif; font-size: 17px; padding: 15px 20%;">
            <h2 style="color:#2ABBA8; line-height:30px; margin-bottom:12px; margin:0 0 12px; font-size: 20px;">
                Halo, {{ user.fullname }}
            </h2>
            <p>
            Seseorang telah melakukan permintaan pembaharuan sandi kepada kami.
            Jika itu adalah Anda sendiri, silahkan klik tautan di bawah ini untuk melakukan pembaharuan sandi.
            </p>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 40px; margin-bottom: 40px;">
                <tr>
                    <td align="center">
                        <table>
                            <tr>
                                <td bgcolor="#2ABBA8" align="center" style="padding: 12px 18px 12px 18px; -webkit-border-radius:3px; border-radius:3px;">
                                    <a href="{{ link }}" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff;text-decoration: none;display: inline-block; font-weight: bold;">
                                        Pembaharuan Sandi &rarr;
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p>
                Terima kasih.
            </p>
        </td>
    </tr>
</table>

<table width="100%" bgcolor="#F3F5F7" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" style="font-family: Helvetica, Arial, sans-serif; color: #B8BFC5; padding: 15px; font-size: 17px;">
            <span style="-webkit-transform: rotate(180deg); transform: rotate(180deg); display: inline-block;">&copy;</span> {{ "now" | date("Y") }} - <a href="{{ site.url }}">{{ site.name }}</a>. All wrongs reserved.
            <br>
            <br>
            <p style="font-weight: bold; margin: 0">{{ site.comp_name }}</p>
            {{ site.comp_addr }}<br>
            {{ site.comp_city }}, {{ site.comp_state }}<br>
            {{ site.comp_country }}
        </td>
    </tr>
</table>