<div>
    
    <div class="row">
        <div class="col-sm-12">
            <h3>Pesan Notifikasi</h3>
        </div>
    </div>

    <div class="m-t">
        <div data-ng-repeat="item in notifications" 
            style="background-color: {{ item.type == 'notify' ? '#FCF8E3' : '#dff0d8';  }} ; padding: 15px; border-radius: 4px; margin-bottom: 15px; position: relative;">
            <small class="text-muted">{{ item.notify_date | dateformat: 'dd MMMM yyyy HH:mm' }}</small>
            <div data-ui-html="item.verb"></div>
            <div style="position: absolute; right: 15px; top: 15px">
                <a data-ng-click="remove(item)" href="javascript:;"><i class="ion-close-round"></i></a>
            </div>
            <div data-ng-if="item.type=='request'">
                <a data-ng-click="approve(item)" href="javascript:;" class="btn btn-info btn-raised btn-sm" style="margin-bottom: 0">Terima</a> 
                <a data-ng-click="reject(item)" href="javascript:;" class="btn btn-danger btn-sm btn-link" style="margin-bottom: 0">Tolak permintaan</a> 
            </div>
        </div>
    </div>

</div>