
<div class="row ng-scope">
    <div class="col-sm-12">
        <h3>Data Pribadi</h3>
        <div class="spacer"></div>
    </div>
</div>



<form name="form1" novalidate>
    <div class="form-group">
        <label class="control-label">Nama lengkap</label>
        <input data-ng-model="account.fullname" name="user_fullname" class="form-control" type="text" required>
        <p data-ng-show="form1.user_fullname.$error.required" class="help-block text-danger text-sm">Nama lengkap wajib diisi</p>
    </div>

    <div class="form-group">
        <label class="control-label" for="cf-input-2">Jenis Kelamin</label>
        <select class="form-control">
            <option value="pria">Pria</option>
            <option value="wanite">Wanita</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label" for="cf-input-3">Pekerjaan</label>
        <input data-ng-model="account.job_title" class="form-control" id="cf-input-3" type="text">
    </div>

    <div class="form-group">
        <label class="control-label" for="cf-input-4">Keterangan</label>
        <input data-ng-model="account.bio" class="form-control" id="cf-input-4" type="text">
    </div>

    <div class="form-group is-fileinput">
        <label class="control-label">Upload Foto</label>
        <input data-ui-file="avatar" type="file">
        <input data-ng-model="avatar_name" class="form-control" type="text" readonly>
    </div>
    <div ng-show="account.avatar" class="form-group">
        <div class="checkbox">
            <label>
                <input data-ng-model="account.noavatar" type="checkbox"> Hapus foto saat ini  ( {{ account.avatar }} ) ?
            </label>
        </div>
    </div>

    <div class="form-group label-floating">
        <button data-ng-disabled="form1.$invalid" type="submit" data-ng-click="updateAccount()" class="btn btn-raised btn-primary btn-lg">
            Simpan perubahan
        </button>
    </div>
</form>

<hr>

<h3>Data Akun</h3>
<div class="spacer"></div>

<form name="form2" novalidate>

    <div class="form-group">
        <label class="control-label">Akun email</label>
        <p><strong>{{ account.email }}</strong></p>
    </div>

    <div class="form-group" data-ng-class="{ 'invalid' : form2._pass1.$invalid && !form2._pass1.$pristine }">
        <label class="control-label">Kata sandi</label>
        <input class="form-control" type="password" name="_pass1" data-ng-minlength="8" data-ng-model="account.passwd1" required>
        <p class="help-block">Gunakan kata sandi yang unik minimal 8 karakter</p>
    </div>

    <div class="form-group" data-ng-class="{ 'invalid' : form2._pass2.$invalid && !form2._pass2.$pristine }">
        <label class="control-label">Konfirmasi kata sandi</label>
        <input class="form-control" type="password" name="_pass2" data-ui-match="form2._pass1" data-ng-model="account.passwd2" required>
        <p data-ng-show="form2._pass2.$error.match && !form2._pass2.$pristine" class="help-block">Sandi yang Anda masukan tidak cocok</p>
    </div>

    <div class="form-group label-floating">
        <button type="submit" data-ng-disabled="form2.$invalid" data-ng-click="updateAccount()" class="btn btn-raised btn-primary btn-lg">Simpan perubahan</button>
        <a href="javascript:;" data-ng-click="removeAccount()" class="btn btn-lg btn-danger">Hapus akun saya</a>
    </div>
</form>