
<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <a ui-sref="editor" target="_blank" class="btn btn-info btn-lg "><i class="ion-plus"></i> Tambah diagram</a>
            <a data-ng-click="loadItems()" href="javascript:;" class="btn btn-info btn-lg "><i class="ion-refresh"></i> Refresh</a>
        </div>
        <div class="clear-fix"></div>
        <h3>Katalog Diagram ({{ diagrams.length }})</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-search navbar-form"> 
            <div class="form-group">
                <input class="form-control" data-ng-model="search" data-ng-model-options="{ debounce: 300 }" type="text" placeholder="Pencarian diagram...">
                <i class="ion-android-search"></i>
            </div>
        </div>
    </div>
</div>

<div class="row" data-ng-hide="diagrams.length">
    <div class="col-sm-12">
        <p>
            Tidak ada diagram yang ditemukan.
        </p>
    </div>
</div>


<div data-ui-lightbox=".lightbox-item" data-trigger="lightbox" class="row">
    
    <div data-ng-repeat="item in diagrams" data-repeat-done="triggerLightbox()">
        <div data-ng-if="$index % 2 == 0" class="clearfix"></div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="cover">
                    <img alt="." data-ng-src="{{ item.cover | thumbnail:'/user/diagram/':362:200 }}" class="img-responsive">
                    <a class="zoom lightbox-item" href="{{ item.cover_url }}">
                        <span><i class="ion-android-search"></i></span>
                    </a>    
                </div>
                <div class="caption">
                    <h4>{{ item.name }}</h4>
                    <span class="label label-primary">{{ item.created_date | dateformat:'dd MMM yyyy' }}</span>
                    
                    <span class="label" data-ng-class="item.published=='1' ? 'label-info' : 'label-muted'">
                        <i data-ng-class="item.published=='1' ? 'ion-android-globe' : 'ion-locked'"></i>
                    </span>

                    <p>{{ item.description }}</p>
                </div>
                <div class="footer">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="" title="Sunting gambar"><i class="ion-edit"></i></a>
                        </div>
                        <div class="col-sm-4">
                            <a data-ng-click="removeDiagram(item)" href="javascript:;" title="Hapus gambar"><i class="ion-android-delete"></i></a>
                        </div>
                        <div class="col-sm-4">
                            <a data-ng-click="showSetting(item)" href="javascript:;" title="Sunting info"><i class="ion-gear-a"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>    

</div>

<div data-ui-modal="diagram-setting" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Konfigurasi</h4>
            </div>
            <div class="modal-body">
                <form name="form1" novalidate>
                    <div class="form-group">
                        <label>Nama diagram</label>
                        <input ng-model="selected.name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input data-ng-model="selected.published" type="checkbox">&nbsp;&nbsp;Publikasikan diagram ini</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Keterangan singkat</label>
                        <input ng-model="selected.description" type="text" class="form-control">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Dibuat tanggal</label>
                            <p class="form-control">{{ selected.created_date | dateformat:'dd MMM yyyy, HH:mm' }}</p>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Terakhir disunting</label>
                            <p class="form-control">{{ selected.updated_date | dateformat:'dd MMM yyyy, HH:mm' }}</p>
                        </div>    
                    </div>
                    
                    <div class="form-group">
                        <label>Gambar sampul</label>
                        <input data-ui-file="coverfile" type="file">
                        <input readonly="" ng-model="covername" class="form-control" placeholder="" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="saveSetting()" type="submit" class="btn btn-primary btn-submit">Simpan Perubahan</button>
                <button ng-click="hideSetting()" class="btn btn-default btn-close">Tutup</button>
            </div>
        </div>
    </div>
</div>
