
<nav class="navbar navbar-default navbar-custom" data-ui-template="header.html"></nav>

<section id="profile-section"  style="min-height: 800px; margin-bottom: 100px;">
    <div class="b-t b-b" style="background: #f5f5f5; margin-top: -20px; margin-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <ul data-breadcrumbs class="breadcrumb no-radius" style="margin-bottom: 0; padding-left: 0;">
                        <li class="nav-item nav-breadcrumb">Profil</li>
                        <li data-ng-repeat="breadcrumb in breadcrumbs" class="nav-item nav-breadcrumb">
                            <a data-ui-sref="{{ breadcrumb.stateName }}" class="nav-link clear" data-ng-class="breadcrumb.class">
                                {{ breadcrumb.text }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="side-section">
                    <ul class="nav nav-pills nav-stacked">
                        <li data-ng-repeat="item in menus track by item.state" data-ui-sref-active="active">
                            <a data-ui-sref="{{ item.state }}">
                                <i class="{{ item.icon }}"></i> {{ item.text }}
                            </a>
                        </li>
                        
                        <li class="divider"></li>

                        <li>
                            <a href="javascript:void(0)" data-ng-click="logout()"><i class="ion-power"></i> Keluar Profil</a>
                        </li>
                    </ul>

                </aside>
            </div>
            <div class="col-md-9" data-ui-view>
                
            </div>
        </div>
    </div>

    
    
</section>

<footer class="text-center" data-ui-template="footer.html"></footer>