<nav class="navbar navbar-default navbar-custom navbar-border" data-ui-template="header.html"></nav>

<section id="tutorial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tutorial</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div style="height: 100px;"></div>
        
        <div data-ng-repeat="item in tutorials" class="row tutorial-item">
            <div data-ng-if="$index % 2 == 0">
                <div class="col-sm-6">
                    <h3 class="text-normal">{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
                <div class="col-sm-6">
                    <video data-ui-video data-source="{{ item.video_url }}" 
                           data-poster="{{ item.poster_url }}"
                           data-type="{{ item.video_type }}" class="video-js vjs-default-skin"></video>
                </div>    
            </div>

            <div data-ng-if="$index % 2 != 0">
                <div class="col-sm-6">
                    <video data-ui-video data-source="{{ item.video_url }}" 
                           data-poster="{{ item.poster_url }}"
                           data-type="{{ item.video_type }}" class="video-js vjs-default-skin"></video>
                </div>
                <div class="col-sm-6">
                    <h3 class="text-normal">{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>    
            </div>
            
        </div>

    </div>
</section>

<footer class="text-center" data-ui-template="footer.html"></footer>