<div data-ui-dialog="confirm" data-backdrop="static" data-keyboard="false" class="modal fade animate">
    <div class="modal-dialog zoom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-ng-click="hide('no')" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ message }}</p>
            </div>
            <div class="modal-footer">
                <button data-ng-click="hide('yes')" href="javascript:;" class="btn primary">Lanjutkan</button>
                <button data-ng-click="hide('no')" href="javascript:;" class="btn">Batal</button>
            </div>
        </div>
    </div>
</div>