<div class="row-col">
    <div class="col-sm-3 col-lg-2">
        <div>
            <img class="img-responsive" ng-src="{{ edit.avatar | thumbnail:'user':200:200 }}">
        </div>    
        <div class="m-t text-center">
            <div class="form-file">
                <input type="file">
                <button class="btn white">Unggah Foto</button>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-lg-10 light lt">
        <div class="row-col">
            <form class="p-a-md col-md-6">
                <h4 class="m-a-0 m-b-sm text-md">Profile Pengguna</h4>
                <hr>
                <div class="form-group">
                    <label>Nama Lengkap</label>
                    <input data-ng-model="edit.fullname" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Jenis Kelamin</label>
                    <input data-ng-model="edit.sex" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Pekerjaan</label>
                    <input data-ng-model="edit.job_title" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Keterangan</label>
                    <textarea style="resize: none;" data-ng-model="edit.bio" class="form-control"></textarea>
                </div>
                <h4 class="m-a-0 m-b-sm text-md">Akun Pengguna</h4>
                <hr>
                <div class="form-group">
                    <label>Alamat Email</label>
                    <input data-ng-model="edit.email" type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Kata Sandi</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label>Hak Akses</label>
                    <select class="form-control">
                        <option>Administrator</option>
                        <option>Pengguna</option>
                    </select>
                </div>
                <button data-ng-click="saveUser()" type="submit" class="btn btn-info m-t">Simpan Perubahan</button>
            </form>    
            <div class="p-a-md col-md-6">
                <h4 class="m-a-0 m-b-sm text-md">Info Pengguna</h4>
                <hr>
                <div class="form-group">
                    <label>Tanggal Daftar</label>
                    <p class="form-control-static text-md">{{ edit.register_date | dateformat:'dd MMM yyyy HH:mm' }}</p>
                </div>
                <div class="form-group">
                    <label>Terakhir Login</label>
                    <p class="form-control-static text-md">{{ edit.last_login | dateformat:'dd MMM yyyy HH:mm' }}</p>
                </div>
                <div class="form-group">
                    <label>Alamat Mesin</label>
                    <p class="form-control-static text-md">{{ edit.last_ip }}</p>
                </div>
                <div class="form-group">
                    <label>Kode Akses</label>
                    <textarea rows="9" style="resize:none;" class="form-control">{{ edit.access_token }}</textarea>
                </div>
            </div>
        </div>
        
    </div>
</div>