body.editor {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*color: #fff;*/
}

body.editor section {
    padding: 0;
}

body.editor header {
    background: #fafafa;
}

.e-profile {
    float: right;
    height: 70px;
    border-left: solid 1px #dfdfdf;
    padding: 0 15px;
    color: #4A4D6E;
    text-transform: uppercase;
}

.e-profile .nav {
    margin-top: 8px;
}

.e-profile .nav li > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.e-profile .e-avatar {
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 0;
}

.e-profile .e-avatar img {
    
}

.e-profile .dropdown-menu {
    border-radius: 0;
}

.e-profile .dropdown-menu li > a {
    padding: 13px 16px;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
}

.e-profile .dropdown-menu li > a:hover {
    background-color: #f4f4f4;
}

/** ----------------------------------- */

.e-clearfix {
    clear: both;
}

.e-hidden {
    display: none;
}

.e-right {
    text-align: right;
}

.e-bg-cyan {
    background-color: #30D0C6;
}

.e-bg-dark {
    background-color: #4A4D6E;
}

.e-color-blue {
    color: #2196f3 !important;
}

.e-hbox,
.e-vbox {
    border-spacing: 0;
}

.e-hbox {
    display:table;
    table-layout:fixed;
    border-spacing:0;
    width:100%;
}

.e-hbox.stretch {
    height: 100%;
}

.e-hbox > aside,
.e-hbox > section {
    display:table-cell;
    vertical-align:top;
    height:100%;
    padding:0;
    float:none;
}

.e-vbox {
    display:table;
    border-spacing:0;
    position:relative;
    height:100%;
    width:100%;
}

.e-vbox > section,
.e-vbox > footer {
    top:0;
    bottom:0;
    width:100%;
    position: absolute;
}

.e-vbox > header ~ section {
    top: 70px;
}

.e-aside-xs {
    width:48px;
}
.e-aside {
    width:180px;
}
.e-aside-sm {
    width:150px;
}
.e-aside-md {
    width:220px;
}
.e-aside-lg {
    width:250px;
}
.e-aside-xl {
    width:300px;
}
.e-aside-xxl {
    width:450px;
}

.e-workspace {
    
}

.e-workspace h1,
.e-workspace h2, 
.e-workspace h3 {
    margin: 0;
}

.e-header {
    height: 70px;
    position: relative;
    z-index: 2;
    background: #f4f4f4;
}
.e-logo {}
.e-logo-text {
    display: block;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0 !important;
    color: #fff;
    text-decoration: none;
    text-transform: none;
}

.e-logo-text:hover {
    text-decoration: none;
    color: #fff;
}

/** page */
.e-page {
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: solid 1px #4A4D6E;
    background-color: #fff;
    overflow: hidden;
}

/** accordion */
.e-accordion .e-pane {
    border-bottom: #4B4F6C solid 1px;
}
.e-accordion .e-pane-header {
    padding: 8px 15px;
    background-color: #434665;
}

.e-accordion .e-pane-title {
    font-size: 12px;
    font-weight: 600;
    color: #A0A2B2;
    line-height: 20px;
    cursor: pointer;
}

.e-accordion .e-pane-title:hover {
    color: #fff;
}

.e-accordion .e-pane-title .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: relative;
    top: 2px;
    line-height: 1;
}

.e-accordion .e-pane .e-pane-body {
    overflow: auto;
    overflow-x: hidden;
    display: none;
    padding: 10px 0;
}

.e-accordion .e-pane.active .e-pane-body {
    display: block;
}

.e-center {
    height: 100%;
    overflow: auto;
}

/** pallet */
.e-pallet {
    height: 600px;
}

/** title */
.e-title {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

.e-title h4, 
.e-title p {
    padding: 0;
    margin: 0;
    text-align: left;
    display: block;
    text-transform: none;
}

.e-title h4 {
    color: #3B5998;
}

.e-title p {
    font-size: 14px;
}

/** toolbar */
.e-toolbar {
    float: right;
    padding: 15px 15px 5px 15px;
    height: 70px;
    border-left: solid 1px #dfdfdf;
}

.e-toolbar a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-size: 28px;
    color: #555;
    margin: 0 3px;
}

.e-toolbar a:hover {
    color: #fff;
    background-color: #555;
}

.e-toolbar a:active,
.e-toolbar a.active,
.e-toolbar a.active:hover {
    color: #fff;
    background-color: orange;
}

/** COMMON */


.e-row::after {
    clear: both;
    content: "";
    display: table;
}

.e-row {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.e-row .e-col {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding: 0 0.75rem;
}

.e-row .e-col.e-col-12 {
    left: auto;
    margin-left: auto;
    right: auto;
    width: 100%;
}

.e-btn {
    border: medium none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0 none;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
}

.e-btn:hover {
    background-color: #2bbbad;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.e-btn-flat {
    background-color: transparent;
    box-shadow: none;
    color: #343434;
    cursor: pointer;
    transition: background-color 0.2s ease 0s;
}

.e-btn-flat:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
}

.e-field {
    position: relative;
}

.e-field input:not([type]),
.e-field input[type=text],
.e-field input[type=password],
.e-field input[type=email],
.e-field input[type=url],
.e-field input[type=time],
.e-field input[type=date],
.e-field input[type=datetime],
.e-field input[type=datetime-local],
.e-field input[type=tel],
.e-field input[type=number],
.e-field input[type=search],
.e-field textarea {
    line-height: normal;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    font-family: inherit;
}

.e-field textarea {
    resize: none;
}

.e-field input:not([type]):focus:not([readonly]),
.e-field input[type=text]:focus:not([readonly]),
.e-field input[type=password]:focus:not([readonly]),
.e-field input[type=email]:focus:not([readonly]),
.e-field input[type=url]:focus:not([readonly]),
.e-field input[type=time]:focus:not([readonly]),
.e-field input[type=date]:focus:not([readonly]),
.e-field input[type=datetime]:focus:not([readonly]),
.e-field input[type=datetime-local]:focus:not([readonly]),
.e-field input[type=tel]:focus:not([readonly]),
.e-field input[type=number]:focus:not([readonly]),
.e-field input[type=search]:focus:not([readonly]),
.e-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.e-field label {
    color: #9e9e9e;
    cursor: text;
    font-size: 1rem;
}