<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
        <div class="pull-center">
            <div data-ng-include="'apps/backend/templates/navbar.brand.html'"></div>
        </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <div class="m-b">
            Masuk dengan email dan password
        </div>
        <form name="form">
            <div class="md-form-group float-label">
                <input type="email" class="md-input" data-ng-model="email" required>
                <label>Email</label>
            </div>
            <div class="md-form-group float-label">
                <input type="password" class="md-input" data-ng-model="passwd" required>
                <label>Sandi</label>
            </div>
            <button data-ng-click="login()" type="submit" class="btn primary btn-block p-x-md">Masuk Aplikasi</button>
        </form>
    </div>
</div>