
<nav class="navbar navbar-default navbar-custom" data-ui-template="header.html"></nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">easyflow</span>
                    <span class="skills">{{ site.description }}</span>
                    <hr class="star-light">
                </div>
                <img class="img-screenshoot img-responsive" src="assets/img/screenshoot-half.png">
            </div>
        </div>
    </div>
</header>

<section id="signup-bar">
    <p ng-if="user">
        Selamat datang, <strong>{{ user.fullname }}</strong> 
        <a ui-sref="profile.home" class="btn btn-raised btn-info btn-lg">Lihat profile</a> atau 
        <a ng-click="logout()" class="btn btn-raised btn-danger btn-lg">Keluar</a>
    </p> 
    <p ng-if="!user">
        Daftar sekarang, <strong>gratis!</strong> 
        <a ui-sref="register" class="btn btn-raised btn-danger btn-lg">Daftar</a> atau 
        <a ui-sref="login" class="btn btn-raised btn-info btn-lg">Login</a>
    </p> 
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Fitur</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                    Easyflow memudahkan Anda dalam menggambar diagram aktifitas cukup dengan fasilitas internet dan 
                    <i>browser</i> yang terpasang di komputer Anda.
                    Diagram yang Anda buat dapat Anda simpan untuk dibuka dan diedit kembali. 
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    Easyflow menyediakan fitur standar untuk menggambar diagram seperti <i>resizing</i> dan <i>dragging</i>
                    yang memudahkan Anda dalam mengatur layout diagram. Selain itu, diagram
                    yang Anda buat dapat Anda simpan ke dalam format PNG.
                </p>
            </div>
            <div ng-if="!user" class="col-lg-8 col-lg-offset-2 text-center">
                <br>
                <a ui-sref="editor" target="_blank" class="btn btn-lg btn-outline">
                    <i class="ion-erlenmeyer-flask"></i> Coba Online
                </a>
            </div>
            <div ng-if="user" class="col-lg-8 col-lg-offset-2 text-center">
                <br>
                <a ui-sref="editor" target="_blank" class="btn btn-lg btn-outline">
                    <i class="ion-plus"></i> Buat Diagram
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Kontak</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                
                <form data-ng-submit="sendMessage()" name="form" id="contact-form" novalidate>

                    <div class="row control-group">
                        <div class="form-group" data-ng-class="{ 'invalid' : form.contact_fullname.$invalid && !form.contact_fullname.$pristine }">
                            <label class="control-label">Nama lengkap</label>
                            <input class="form-control" data-ng-model="contact.fullname" name="contact_fullname" type="text" required>
                            <p data-ng-show="form.contact_fullname.$error.required && !form.contact_fullname.$pristine" class="help-block text-sm text-danger">Nama lengkap wajib diisi</p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group" data-ng-class="{ 'invalid' : form.contact_email.$invalid && !form.contact_email.$pristine }">
                            <label class="control-label" >Alamat email</label>
                            <input class="form-control" data-ng-model="contact.email" name="contact_email" type="text" required>
                            <p data-ng-show="form.contact_email.$error.required && !form.contact_email.$pristine" class="help-block text-sm text-danger">Alamat email wajib diisi</p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group" data-ng-class="{ 'invalid' : form.contact_message.$invalid && !form.contact_message.$pristine }">
                            <label class="control-label">Tulis saran dan kritik Anda (min: 40 karakter)</label>
                            <textarea rows="5" class="form-control" data-ng-model="contact.message" data-ng-minlength="40" name="contact_message" required></textarea>
                            <p data-ng-show="form.contact_message.$error.required && !form.contact_message.$pristine" class="help-block text-sm text-danger">Isi pesan wajib diisi</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <button data-ng-disabled="form.$invalid" type="submit" class="btn btn-raised btn-primary btn-lg">Kirim Pesan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="text-center" data-ui-template="footer.html"></footer>