
<div data-ui-editor>
    <div id="aside" class="app-aside xs modal fade nav-dropdown">
    <div class="left navside dark dk" layout="column">
        <div class="navbar no-radius primary text-center">
            <a class="navbar-brand">
                easyflow
            </a>
        </div>
        <div flex class="hide-scroll">
            <div data-ui-pallet class="ui-pallet">
                
            </div>
        </div>
        <div class="b-t" flex-no-shrink></div>
    </div>
</div>

<div id="content" class="app-content box-shadow-z0" role="main">
    <div class="app-header box-shadow">
        <div class="navbar">
            <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
                <i class="ion-navicon-round icon-md"></i>
            </a>
            <div class="ui-caption hidden-sm-down">
                <p class="text-md m-b-0 _700 text-accent">Example Diagram</p>
                <span class="text-sm _300">Type your example diagram description here.</span>
            </div>
            <div class="ui-toolbar hidden-sm-down">
                <a href="javascript:;" data-ng-click="goHome()" title="Kembali ke halaman portal"><i class="ion-ios-home-outline"></i></a>
            </div>
            <div class="ui-toolbar hidden-sm-down">
                <a href="javascript:;" data-ng-click="createDiagram()" title="New diagram"><i class="ion-android-add"></i></a>
                <a href="javascript:;" data-ng-click="updateDiagram()" title="Save diagram"><i class="ion-android-done"></i></a>
            </div>
            <div class="ui-toolbar">
                <a href="#" data-tool="panzoom" title="Activate hand tool"><i class="bpmn-icon-hand-tool"></i></a>
                <a href="#" data-tool="collector" title="Activate lasso tool"><i class="bpmn-icon-lasso-tool"></i></a>
                <a href="#" data-tool="linker" title="Activate link tool"><i class="bpmn-icon-connection-multi"></i></a>
                <a href="#" data-util="trash" title="Delete selection"><i class="bpmn-icon-trash"></i></a>
                <a href="javascript:;" data-util="export" title="Save as Image"><i class="ion-ios-printer-outline"></i></a>
                <a href="javascript:;" data-util="config" title="Editor config"><i class="ion-ios-gear-outline"></i></a>
            </div>
        </div>
    </div>
    <div class="app-body">
        <div data-ui-paper class="ui-paper"></div>
    </div>
</div>
</div>


<!-- GLOBAL DIALOG -->
<div data-ui-template="dialog-alert.html"></div>
<div data-ui-template="dialog-info.html"></div>
<div data-ui-template="dialog-error.html"></div>
<div data-ui-template="dialog-confirm.html"></div>
<!-- END OF GLOBAL DIALOG -->

<!-- CREATE DIAGRAM -->
<div data-ui-modal="create-diagram" class="modal fade animate">
    <div class="modal-dialog zoom">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create diagram</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Diagram name</label>
                    <input name="diagram_name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Sort description</label>
                    <textarea name="diagram_desc" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button data-ng-click="createDiagram()" class="btn primary">Save Diagram</button>
                <button data-ng-click="hideModal('create-diagram')" class="btn white">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END OF CREATE DIAGRAM -->